In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('car_negative_reviews.csv')
df1 = pd.read_csv('car_neutral_reviews.csv')

In [3]:
df

,review_id,review_text,sentiment,review_text.1
0,26878171-696b-495c-b48d-524802dbfffc,Worst rental ever! The frustrating was pickup ...,negative,Worst rental ever! The frustrating was pickup ...
1,130425bc-f623-4ce6-8b6e-a65d7916a7b8,"Had high hopes, but the awful was mileage limi...",negative,"Had high hopes, but the awful was mileage limi..."
2,fb89f02e-85f7-4637-b8f8-7a1ea5477141,The rental experience was bad. The GPS availab...,negative,The rental experience was bad. The GPS availab...
3,17ea56eb-68d9-49c8-af26-d51139aa60f2,I can't believe how frustrating this rental wa...,negative,I can't believe how frustrating this rental wa...
4,1bb9f961-bd65-4179-b52a-2b5a90079ecd,I can't believe how disappointing this rental ...,negative,I can't believe how disappointing this rental ...
...,...,...,...,...
2995,b915c13c-bf4e-4bc2-a6bb-c8e046fd4a77,I regret choosing this company. The terrible w...,negative,NaN
2996,3636b1c0-36b1-4ee8-b75f-f1416ceed188,I regret choosing this company. The horrible w...,negative,NaN
2997,c5ba4cba-97e5-4356-8a85-236f3dec9544,"Had high hopes, but the awful was mileage limi...",negative,NaN
2998,744fc32a-5717-4413-a731-bff70dbeb37f,Worst rental ever! The terrible was vehicle co...,negative,NaN
2999,2d5d5615-832a-4d3d-9d36-6ccca7a8256c,The rental experience was unacceptable. The pi...,negative,NaN

In [4]:
df1

,review_id,review_text,sentiment,review_text.1
0,6fb18abb-d699-4e2d-a931-8d2fe43adb23,An ordinary experience. The passable was insur...,neutral,An ordinary experience. The passable was insur...
1,e9097b9c-bea9-4911-a4b0-85755a55cbda,Nothing too exciting. The okay was staff profe...,neutral,Nothing too exciting. The okay was staff profe...
2,78865922-4101-423e-9166-44081d4bed17,A decent experience. The passable was fuel pol...,neutral,A decent experience. The passable was fuel pol...
3,2d9c6b69-d9e2-4629-bcff-677c31248020,The rental was average. The booking ease was o...,neutral,The rental was average. The booking ease was o...
4,6106c842-6707-400a-aa53-6e3424ac954d,Nothing too exciting. The decent was roadside ...,neutral,Nothing too exciting. The decent was roadside ...
...,...,...,...,...
2995,0d8c3dae-7104-40cd-ad43-62b3d0945451,Nothing too exciting. The fine was waiting tim...,neutral,NaN
2996,be791a03-62c1-4b9f-9ec3-93b39ba7fd75,Nothing too exciting. The okay was car cleanli...,neutral,NaN
2997,d85d4fe4-8d51-4400-95b5-05ffb6452c7f,Fairly standard. The passable was booking ease...,neutral,NaN
2998,6da1cde5-0152-4d65-9067-eac1744f720b,An ordinary experience. The okay was air condi...,neutral,NaN
2999,23f59a45-c45c-4467-9016-67e6d2ce166a,Fairly standard. The mediocre was air conditio...,neutral,NaN

In [8]:
df.drop('review_text', axis = 1, inplace= True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review_id      3000 non-null   object
 1   sentiment      3000 non-null   object
 2   review_text.1  2896 non-null   object
dtypes: object(3)
memory usage: 70.4+ KB

In [15]:
df.dropna(inplace=True)

In [16]:
df

,review_id,sentiment,review_text.1
0,26878171-696b-495c-b48d-524802dbfffc,negative,Worst rental ever! The frustrating was pickup ...
1,130425bc-f623-4ce6-8b6e-a65d7916a7b8,negative,"Had high hopes, but the awful was mileage limi..."
2,fb89f02e-85f7-4637-b8f8-7a1ea5477141,negative,The rental experience was bad. The GPS availab...
3,17ea56eb-68d9-49c8-af26-d51139aa60f2,negative,I can't believe how frustrating this rental wa...
4,1bb9f961-bd65-4179-b52a-2b5a90079ecd,negative,I can't believe how disappointing this rental ...
...,...,...,...
2891,174257fa-014e-4305-9a5d-33ed278841ab,negative,I regret choosing this company. The terrible w...
2892,71865a4e-566b-4f9d-ba61-098b0b8211ea,negative,I regret choosing this company. The horrible w...
2893,b3b5e4ad-4dd7-4845-a1d0-328e99786ea8,negative,"Had high hopes, but the awful was mileage limi..."
2894,2e8f8606-54a3-4fe9-8a29-1b1c21bfa12f,negative,Worst rental ever! The terrible was vehicle co...
2895,7f98a517-a7db-480a-a3cb-5c850c2300f5,negative,The rental experience was unacceptable. The pi...

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2896 entries, 0 to 2895
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   review_id      2896 non-null   object
 1   sentiment      2896 non-null   object
 2   review_text.1  2896 non-null   object
dtypes: object(3)
memory usage: 90.5+ KB