In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sidd_final_dataset.csv')
df

,travelCode,userCode_x_x,name_x,place,days,hotel_perday,hotel_total,date_x,from,to,...,rentalAgency,rentalDuration,price,totalDistance,fuelPolicy,bookingStatus,Total_car_price,no_of_guest,guest_name,total_passenger
0,0,0,Hotel A,Florianopolis (SC),4,313.02,1252.08,09/26/2019,Recife (PE),Florianopolis (SC),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,3,"['Steve Velasquez', 'Alexander Garcia', 'Louis...",4
1,2,0,Hotel K,Salvador (BH),2,263.41,526.82,10/10/2019,Aracaju (SE),Salvador (BH),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,4,"['Ashley Hall', 'Abigail Lindsey', 'Luis Roger...",5
2,7,0,Hotel K,Salvador (BH),3,263.41,790.23,11/14/2019,Aracaju (SE),Salvador (BH),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,2,"['Kyle Craig', 'Jose Preston']",3
3,11,0,Hotel K,Salvador (BH),4,263.41,1053.64,12/12/2019,Brasilia (DF),Salvador (BH),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,4,"['Melissa Cardenas', 'Anne Gonzalez', 'Edward ...",5
4,13,0,Hotel A,Florianopolis (SC),1,313.02,313.02,12/26/2019,Recife (PE),Florianopolis (SC),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,4,"['Tommy Reid', 'Maria Simmons', 'Lori Walker',...",5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40547,135938,1339,Hotel BP,Brasilia (DF),3,247.62,742.86,06/18/2020,Florianopolis (SC),Brasilia (DF),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,0,[],1
40548,135939,1339,Hotel BP,Brasilia (DF),1,247.62,247.62,06/25/2020,Florianopolis (SC),Brasilia (DF),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,4,"['Jeffrey Brady', 'Jeffrey Moore', 'Rick Dunn'...",5
40549,135940,1339,Hotel BW,Campo Grande (MS),3,60.39,181.17,07/02/2020,Florianopolis (SC),Campo Grande (MS),...,Enterprise,2.0,190.26,373.0,Prepaid,Pending,498.4,4,"['Tammie Miller', 'Samantha Adams', 'Maria Mey...",5
40550,135941,1339,Hotel BW,Campo Grande (MS),3,60.39,181.17,07/09/2020,Florianopolis (SC),Campo Grande (MS),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,2,"['Curtis Cole', 'Jessica Williams']",3
40551,135942,1339,Hotel BD,Natal (RN),4,242.88,971.52,07/16/2020,Florianopolis (SC),Natal (RN),...,NaN,0.0,0.00,0.0,NaN,Not Booked,0.0,0,[],1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40552 entries, 0 to 40551
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   travelCode       40552 non-null  int64
 1   userCode_x_x     40552 non-null  int64
 2   name_x           40552 non-null  object
 3   place            40552 non-null  object
 4   days             40552 non-null  int64
 5   hotel_perday     40552 non-null  float64
 6   hotel_total      40552 non-null  float64
 7   date_x           40552 non-null  object
 8   from             40552 non-null  object
 9   to               40552 non-null  object
 10  flightType       40552 non-null  object
 11  flight_cost      40552 non-null  float64
 12  time             40552 non-null  float64
 13  distance         40552 non-null  float64
 14  agency           40552 non-null  object
 15  company          40552 non-null  object
 16  gender           40552 non-null  object
 17  age              40552 non-null  int64
 18  pickupLocation   3773 non-null   object
 19  dropoffLocation  3773 non-null   object
 20  carType          40552 non-null  object
 21  rentalAgency     3773 non-null   object
 22  rentalDuration   40552 non-null  float64
 23  price            40552 non-null  float64
 24  totalDistance    40552 non-null  float64
 25  fuelPolicy       3773 non-null   object
 26  bookingStatus    40552 non-null  object
 27  Total_car_price  40552 non-null  float64
 28  no_of_guest      40552 non-null  int64
 29  guest_name       40552 non-null  object
 30  total_passenger  40552 non-null  int64
dtypes: float64(9), int64(6), object(16)
memory usage: 9.6+ MB

In [4]:
car_df = df[['userCode_x_x','travelCode','date_x','pickupLocation','dropoffLocation','carType','rentalAgency','rentalDuration','totalDistance','fuelPolicy','bookingStatus','Total_car_price']
]
car_df

,userCode_x_x,travelCode,date_x,pickupLocation,dropoffLocation,carType,rentalAgency,rentalDuration,totalDistance,fuelPolicy,bookingStatus,Total_car_price
0,0,0,09/26/2019,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
1,0,2,10/10/2019,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
2,0,7,11/14/2019,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
3,0,11,12/12/2019,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
4,0,13,12/26/2019,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
40547,1339,135938,06/18/2020,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
40548,1339,135939,06/25/2020,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
40549,1339,135940,07/02/2020,Port Paulfurt,Timothyview,Hatchback,Enterprise,2.0,373.0,Prepaid,Pending,498.4
40550,1339,135941,07/09/2020,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0
40551,1339,135942,07/16/2020,NaN,NaN,Not rented,NaN,0.0,0.0,NaN,Not Booked,0.0

In [5]:
car_df = car_df.dropna()
car_df

,userCode_x_x,travelCode,date_x,pickupLocation,dropoffLocation,carType,rentalAgency,rentalDuration,totalDistance,fuelPolicy,bookingStatus,Total_car_price
6,0,22,02/27/2020,Johntown,Port Brian,Sedan,Sixt,3.0,285.0,Prepaid,Pending,588.0
15,0,45,08/06/2020,Owensland,Ruizfort,Sedan,Enterprise,3.0,412.0,Full-to-Full,Pending,689.6
37,2,117,02/27/2020,Edwardview,Katiefort,Sedan,Hertz,1.0,433.0,Partial,Confirmed,466.4
38,2,119,03/12/2020,Moranborough,Lake Stephanie,Hatchback,Budget,3.0,421.0,Full-to-Full,Confirmed,636.8
45,2,153,11/05/2020,Port Kathrynstad,East Ronnieberg,Sedan,Enterprise,5.0,100.0,Prepaid,Cancelled,680.0
...,...,...,...,...,...,...,...,...,...,...,...,...
40516,1335,135831,12/29/2022,West Donna,Fordshire,Sedan,Enterprise,5.0,123.0,Prepaid,Cancelled,698.4
40519,1335,135843,03/23/2023,East Crystalview,Lake Laura,Sedan,Hertz,2.0,229.0,Full-to-Full,Confirmed,423.2
40537,1337,135892,04/16/2020,Kylehaven,Johnland,Luxury,Enterprise,1.0,285.0,Prepaid,Cancelled,398.0
40540,1339,135911,12/12/2019,South Julie,Brentside,Sedan,Sixt,1.0,155.0,Full-to-Full,Pending,244.0
40549,1339,135940,07/02/2020,Port Paulfurt,Timothyview,Hatchback,Enterprise,2.0,373.0,Prepaid,Pending,498.4

In [6]:
df = pd.read_excel('CarFINALdataset.xlsx')
df

,User_ID,travelCode,Check-in,pickupLocation,dropoffLocation,carType,rentalAgency,rentalDuration,Car_total_distance,fuelPolicy,Car_bookingStatus,total_rent_price
0,0,22,02/27/2020,Johntown,Port Brian,Sedan,Sixt,3,285,Prepaid,Pending,3410
1,0,45,08/06/2020,Owensland,Ruizfort,Sedan,Enterprise,3,412,Full-to-Full,Pending,4644
2,2,117,02/27/2020,Edwardview,Katiefort,Sedan,Hertz,1,433,Partial,Confirmed,4740
3,2,119,03/12/2020,Moranborough,Lake Stephanie,Hatchback,Budget,3,421,Full-to-Full,Confirmed,3744
4,2,153,11/05/2020,Port Kathrynstad,East Ronnieberg,Sedan,Enterprise,5,100,Prepaid,Cancelled,1694
...,...,...,...,...,...,...,...,...,...,...,...,...
3768,1335,135831,12/29/2022,West Donna,Fordshire,Sedan,Enterprise,5,123,Prepaid,Cancelled,1898
3769,1335,135843,03/23/2023,East Crystalview,Lake Laura,Sedan,Hertz,2,229,Full-to-Full,Confirmed,2743
3770,1337,135892,04/16/2020,Kylehaven,Johnland,Luxury,Enterprise,1,285,Prepaid,Cancelled,6692
3771,1339,135911,12/12/2019,South Julie,Brentside,Sedan,Sixt,1,155,Full-to-Full,Pending,1952
3772,1339,135940,07/02/2020,Port Paulfurt,Timothyview,Hatchback,Enterprise,2,373,Prepaid,Pending,3301

In [7]:
car_df.drop(columns={'Total_car_price'},inplace=True)
car_df

C:\Users\SURAJ\AppData\Local\Temp\ipykernel_8764\1929349922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_df.drop(columns={'Total_car_price'},inplace=True)

,userCode_x_x,travelCode,date_x,pickupLocation,dropoffLocation,carType,rentalAgency,rentalDuration,totalDistance,fuelPolicy,bookingStatus
6,0,22,02/27/2020,Johntown,Port Brian,Sedan,Sixt,3.0,285.0,Prepaid,Pending
15,0,45,08/06/2020,Owensland,Ruizfort,Sedan,Enterprise,3.0,412.0,Full-to-Full,Pending
37,2,117,02/27/2020,Edwardview,Katiefort,Sedan,Hertz,1.0,433.0,Partial,Confirmed
38,2,119,03/12/2020,Moranborough,Lake Stephanie,Hatchback,Budget,3.0,421.0,Full-to-Full,Confirmed
45,2,153,11/05/2020,Port Kathrynstad,East Ronnieberg,Sedan,Enterprise,5.0,100.0,Prepaid,Cancelled
...,...,...,...,...,...,...,...,...,...,...,...
40516,1335,135831,12/29/2022,West Donna,Fordshire,Sedan,Enterprise,5.0,123.0,Prepaid,Cancelled
40519,1335,135843,03/23/2023,East Crystalview,Lake Laura,Sedan,Hertz,2.0,229.0,Full-to-Full,Confirmed
40537,1337,135892,04/16/2020,Kylehaven,Johnland,Luxury,Enterprise,1.0,285.0,Prepaid,Cancelled
40540,1339,135911,12/12/2019,South Julie,Brentside,Sedan,Sixt,1.0,155.0,Full-to-Full,Pending
40549,1339,135940,07/02/2020,Port Paulfurt,Timothyview,Hatchback,Enterprise,2.0,373.0,Prepaid,Pending

In [8]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3773 entries, 6 to 40549
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userCode_x_x     3773 non-null   int64
 1   travelCode       3773 non-null   int64
 2   date_x           3773 non-null   object
 3   pickupLocation   3773 non-null   object
 4   dropoffLocation  3773 non-null   object
 5   carType          3773 non-null   object
 6   rentalAgency     3773 non-null   object
 7   rentalDuration   3773 non-null   float64
 8   totalDistance    3773 non-null   float64
 9   fuelPolicy       3773 non-null   object
 10  bookingStatus    3773 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 353.7+ KB

In [11]:
car_df = car_df.rename(columns={
    'userCode_x_x': 'User_ID',
    'date_x': 'Check-in',
    'totalDistance': 'Car_total_distance',
    'bookingStatus': 'Car_bookingStatus'
})

In [12]:
car_df

,User_ID,travelCode,Check-in,pickupLocation,dropoffLocation,carType,rentalAgency,rentalDuration,Car_total_distance,fuelPolicy,Car_bookingStatus
6,0,22,02/27/2020,Johntown,Port Brian,Sedan,Sixt,3.0,285.0,Prepaid,Pending
15,0,45,08/06/2020,Owensland,Ruizfort,Sedan,Enterprise,3.0,412.0,Full-to-Full,Pending
37,2,117,02/27/2020,Edwardview,Katiefort,Sedan,Hertz,1.0,433.0,Partial,Confirmed
38,2,119,03/12/2020,Moranborough,Lake Stephanie,Hatchback,Budget,3.0,421.0,Full-to-Full,Confirmed
45,2,153,11/05/2020,Port Kathrynstad,East Ronnieberg,Sedan,Enterprise,5.0,100.0,Prepaid,Cancelled
...,...,...,...,...,...,...,...,...,...,...,...
40516,1335,135831,12/29/2022,West Donna,Fordshire,Sedan,Enterprise,5.0,123.0,Prepaid,Cancelled
40519,1335,135843,03/23/2023,East Crystalview,Lake Laura,Sedan,Hertz,2.0,229.0,Full-to-Full,Confirmed
40537,1337,135892,04/16/2020,Kylehaven,Johnland,Luxury,Enterprise,1.0,285.0,Prepaid,Cancelled
40540,1339,135911,12/12/2019,South Julie,Brentside,Sedan,Sixt,1.0,155.0,Full-to-Full,Pending
40549,1339,135940,07/02/2020,Port Paulfurt,Timothyview,Hatchback,Enterprise,2.0,373.0,Prepaid,Pending

In [13]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3773 entries, 6 to 40549
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   User_ID             3773 non-null   int64
 1   travelCode          3773 non-null   int64
 2   Check-in            3773 non-null   object
 3   pickupLocation      3773 non-null   object
 4   dropoffLocation     3773 non-null   object
 5   carType             3773 non-null   object
 6   rentalAgency        3773 non-null   object
 7   rentalDuration      3773 non-null   float64
 8   Car_total_distance  3773 non-null   float64
 9   fuelPolicy          3773 non-null   object
 10  Car_bookingStatus   3773 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 353.7+ KB

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3773 entries, 0 to 3772
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   User_ID             3773 non-null   int64
 1   travelCode          3773 non-null   int64
 2   Check-in            3773 non-null   object
 3   pickupLocation      3773 non-null   object
 4   dropoffLocation     3773 non-null   object
 5   carType             3773 non-null   object
 6   rentalAgency        3773 non-null   object
 7   rentalDuration      3773 non-null   int64
 8   Car_total_distance  3773 non-null   int64
 9   fuelPolicy          3773 non-null   object
 10  Car_bookingStatus   3773 non-null   object
 11  total_rent_price    3773 non-null   int64
dtypes: int64(5), object(7)
memory usage: 353.8+ KB

In [15]:
car_df.to_excel('Test_car.xlsx',index=False)
from IPython.display import FileLink
FileLink('Test_car.xlsx')

C:\Users\SURAJ\Desktop\Dataset\Datas\Test_car.xlsx